<div class="ea-container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="bold">Предприятие: </h5>
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedCompany.title}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="item in companies" ng-click="selectCompany(item)"><a>{{item.title}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" ng-show="companySelected">
                    <h5 class="bold">Год отчетного периода: </h5>
                </div>
                <div class="col-md-1" ng-show="companySelected">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedYear}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li ng-repeat="item in meterings" ng-click="selectYear(item)"><a>{{item.year}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" ng-show="yearSelected">
                    <button class="btn btn-default pull-right" data-toggle="modal" data-target="#meteringValuesModal">Изменить данные...</button>
                </div>

            </div>

        </div>
    </div>

    <div  ng-show="readyToStartAnalisis">
        <div class="row">
            <!--<div class="col-md-2">-->

            <!--</div>-->
            <div class="col-md-12">
                <!--сводная аналитика в виде таблиц-->
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <h2 class="text-center">Сводная аналитика</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="ratioData" chart-labels="ratioLabels" chart-series="ratioSeries">
                        </canvas>
                    </div>

                    <div class="col-md-6">
                        <canvas id="bar1" class="chart chart-bar"
                                chart-data="discriminantData" chart-labels="discriminantLabels" chart-series="discriminantSeries">
                        </canvas>
                    </div>
                </div>

                <!--коэффициентный анализ-->
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <h2 class="text-center">Коэффициентный анализ</h2>
                    </div>
                </div>

                <div class="row">
                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">L1</th>
                                        <th class="text-center bold">L3</th>
                                        <th class="text-center bold">P1</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center">{{l1 | number:3}}</td>
                                        <td class="text-center">{{l3 | number:3}}</td>
                                        <td class="text-center">{{p1 | number:3}}</td>
                                    </tr>
                                    <tr class="active">
                                        <td class="text-center">{{l1GradeVal}}</td>
                                        <td class="text-center">{{l3GradeVal}}</td>
                                        <td class="text-center">{{p1GradeVal}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Ликвидность:</td>
                                        <td class="text-center bold">{{lpIntegral | number:3}}</td>
                                        <td class="text-center bold">{{lpIntegralGradeVal}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">F1</th>
                                        <th class="text-center bold">F2</th>
                                        <th class="text-center bold">F3</th>
                                        <th class="text-center bold">F4</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center">{{f1 | number:3}}</td>
                                        <td class="text-center">{{f2 | number:3}}</td>
                                        <td class="text-center">{{f3 | number:3}}</td>
                                        <td class="text-center">{{f4 | number:3}}</td>
                                    </tr>
                                    <tr class="active">
                                        <td class="text-center">{{f1GradeVal}}</td>
                                        <td class="text-center">{{f2GradeVal}}</td>
                                        <td class="text-center">{{f3GradeVal}}</td>
                                        <td class="text-center">{{f4GradeVal}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Финансовая устойчивость:</td>
                                        <td></td>
                                        <td class="text-center bold">{{fIntegral | number:3}}</td>
                                        <td class="text-center bold">{{fIntegralGradeVal}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">A2</th>
                                        <th class="text-center bold">A4</th>
                                        <th class="text-center bold">A5</th>
                                        <th class="text-center bold">A6</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center">{{a2 | number:3}}</td>
                                        <td class="text-center">{{a4 | number:3}}</td>
                                        <td class="text-center">{{a5 | number:3}}</td>
                                        <td class="text-center">{{a6 | number:3}}</td>
                                    </tr>
                                    <tr class="active">
                                        <td class="text-center">{{a2GradeVal}}</td>
                                        <td class="text-center">{{a4GradeVal}}</td>
                                        <td class="text-center">{{a5GradeVal}}</td>
                                        <td class="text-center">{{a6GradeVal}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Деловая активность:</td>
                                        <td></td>
                                        <td class="text-center bold">{{aIntegral | number:3}}</td>
                                        <td class="text-center bold">{{aIntegralGradeVal}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">R1</th>
                                        <th class="text-center bold">R2</th>
                                        <th class="text-center bold">R3</th>
                                        <th class="text-center bold">R4</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center">{{r1 | number:3}}</td>
                                        <td class="text-center">{{r2 | number:3}}</td>
                                        <td class="text-center">{{r3 | number:3}}</td>
                                        <td class="text-center">{{r4 | number:3}}</td>
                                    </tr>
                                    <tr class="active">
                                        <td class="text-center">{{r1GradeVal}}</td>
                                        <td class="text-center">{{r2GradeVal}}</td>
                                        <td class="text-center">{{r3GradeVal}}</td>
                                        <td class="text-center">{{r4GradeVal}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Рентабельность:</td>
                                        <td></td>
                                        <td class="text-center bold">{{rIntegral | number:3}}</td>
                                        <td class="text-center bold">{{rIntegralGradeVal}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Итоговый показатель, характеризующий общее состояние предприятия: <span class="bold">{{unionIntegral | number:3}}</span>   (<span class="bold">{{unionIntegralGradeVal}}</span>)</h4>
                    </div>
                </div>

                <!--дискриминантный анализ-->
                <div class="row row-margin-top-lg">
                    <div class="col-md-12">
                        <h2 class="text-center">Дискриминантный анализ</h2>
                    </div>
                </div>

                <div class="row">
                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Группа показателей L-P</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">ОН</th>
                                        <th class="text-center bold">Н</th>
                                        <th class="text-center bold">С</th>
                                        <th class="text-center bold">В</th>
                                        <th class="text-center bold">ОВ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center" ng-repeat="item in lpValues">{{item | number:3}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Состояние по группе L-P:</td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold">{{lpResult}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Группа показателей F</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">ОН</th>
                                        <th class="text-center bold">Н</th>
                                        <th class="text-center bold">С</th>
                                        <th class="text-center bold">В</th>
                                        <th class="text-center bold">ОВ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center" ng-repeat="item in fValues">{{item | number:3}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Состояние по группе F:</td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold">{{fResult}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Группа показателей A</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">ОН</th>
                                        <th class="text-center bold">Н</th>
                                        <th class="text-center bold">С</th>
                                        <th class="text-center bold">В</th>
                                        <th class="text-center bold">ОВ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center" ng-repeat="item in aValues">{{item | number:3}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Состояние по группе A:</td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold">{{aResult}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Группа показателей R</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">ОН</th>
                                        <th class="text-center bold">Н</th>
                                        <th class="text-center bold">С</th>
                                        <th class="text-center bold">В</th>
                                        <th class="text-center bold">ОВ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center" ng-repeat="item in rValues">{{item | number:3}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Состояние по группе R:</td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold">{{rResult}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <!--таблица для группы показателей-->
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Анализ по всем группам показателей</h4>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th class="text-center bold">ОН</th>
                                        <th class="text-center bold">Н</th>
                                        <th class="text-center bold">С</th>
                                        <th class="text-center bold">В</th>
                                        <th class="text-center bold">ОВ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="active">
                                        <td class="text-center" ng-repeat="item in allValues">{{item | number:3}}</td>
                                    </tr>
                                    <tr class="danger">
                                        <td class="bold">Результат:</td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold"></td>
                                        <td class="text-center bold">{{allResult}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!readyToStartAnalisis">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center text-gray">Для того, чтобы запустить процесс анализа, необходимо выбрать интересующее вас предприятие и соответствующий период из выпадающих списков в верхней части экрана</h5>
            </div>
        </div>
    </div>

    <!-- модальное окно - исходные данные -->
    <div class="modal fade" id="meteringValuesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Измение текущих данных</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="bold">Бухгалтерский баланс</h5>
                        </div>
                    </div>
                    <!--item-->
                    <div class="row" style="margin-top:6px" ng-repeat="article in selectedMetering.balanceValues">
                        <div class="col-md-8">
                            <h5>{{article.title}}</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>{{article.number}}</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="article.val">
                        </div>
                    </div>

                    <div class="row row-margin-top-md">
                        <div class="col-md-12">
                            <h5 class="bold">Отчет о прибылях и убытках</h5>
                        </div>
                    </div>
                    <!--item-->
                    <div class="row" style="margin-top:6px" ng-repeat="article in selectedMetering.gainsValues">
                        <div class="col-md-8">
                            <h5>{{article.title}}</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>{{article.number}}</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="article.val">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="resetMeterToDefault()">Вернуть исходные значения</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Готово</button>
                </div>
            </div>
        </div>
    </div>

</div>


