<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Предприятия</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p><a href="#" role="button" class="btn btn-success" data-toggle="modal" data-target="#addCompanyModal">Добавить новое предприятие</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название предприятия</th>
                    <th>Адрес</th>
                    <th>Руководитель предприятия</th>
                    <th>Сайт/e-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items"
                    ng-click="goConfig(item)">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.head}}</td>
                    <td>{{item.website}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление сведений о новом предприятии</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Название предприятия" ng-model="paramsForAdd.title">
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Адрес" ng-model="paramsForAdd.address">
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Руководитель предприятия" ng-model="paramsForAdd.head">
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Сайт/e-mail" ng-model="paramsForAdd.website">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCompany()">Добавить</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3">Выберите действие</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success center-block" ng-click="goToCompany()">Посмотреть</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning center-block" data-toggle="modal" data-target="#editCompanyModal">Редактировать</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger center-block" ng-click="removeCompany()">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Редактирование данных о предприятии</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Название предприятия" ng-model="selectedCompany.title">
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Адрес" ng-model="selectedCompany.address">
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Руководитель предприятия" ng-model="selectedCompany.head">
                    </div>
                </div>
                <div class="row row-margin-top">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Сайт/e-mail" ng-model="selectedCompany.website">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editCompany()">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>


