<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">{{company.title}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5 class="pull-right" ng-show="company.head">Руководитель: {{company.head}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5 class="pull-right" ng-show="company.address">Адрес: {{company.address}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5 class="pull-right" ng-show="company.website">{{company.website}}</h5>
    </div>
</div>

<div class="row row-margin-top">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked ea-left-nav">
            <li role="presentation" data-toggle="modal" data-target="#addMeteringModal"><a href="#">Добавить сведения</a></li>
            <li role="presentation"><a href="#">Отправить на аналитику</a></li>
            <li role="presentation"><a href="#">Построить статистику</a></li>
        </ul>
    </div>
    <div class="col-md-9 ea-container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="bold">Год отчетного периода: </h5>
                </div>
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedYear}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="item in meterings" ng-click="selectYear(item)"><a>{{item.year}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <div ng-show="readyToShow">
            <div class="row row-margin-top">
                <div class="col-md-6">
                    <h5 class="bold">Бухгалтерский баланс</h5>
                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="item in selectedMetering.balanceValues"
                            ng-click="goConfig(item)">
                            <td>{{item.title}}</td>
                            <td>{{item.number}}</td>
                            <td class="text-blue">{{item.val}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6">
                    <h5 class="bold">Отчет о прибылях и убытках</h5>
                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="item in selectedMetering.gainsValues"
                            ng-click="goConfig(item)">
                            <td>{{item.title}}</td>
                            <td>{{item.number}}</td>
                            <td class="text-blue">{{item.val}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="!readyToShow">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-center text-gray">Для того, чтобы увидеть данные предприятия, выберите интересующий вас год отчетного периода из выпадающего списка выше</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- модальное окно - добавить новое измерение -->
<div class="modal fade" id="addMeteringModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление новых сведений</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5>Год текущего отчетного периода</h5>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="newMetering.year">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="text-center" ng-show="newMetering.oldBalance === '?'">Выберите желаемый баланс</h5>
                    </div>
                </div>

                <div class="row" ng-show="newMetering.oldBalance === '?'">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 text-center">
                        <a href="#" role="button" class="btn btn-default center-block" ng-click="setBalanceType(true)">Старый</a>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-center">
                        <a href="#" role="button" class="btn btn-default center-block" ng-click="setBalanceType(false)">Новый</a>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <!--старый баланс-->
                <div ng-show="newMetering.oldBalance === true">
                    <div class="row row-margin-top">
                        <div class="col-md-12">
                            <h5 class="bold">Бухгалтерский баланс</h5>
                        </div>
                    </div>
                    <!--item-->
                    <div class="row" style="margin-top:6px" ng-repeat="article in newMetering.balanceValues">
                        <div class="col-md-8">
                            <h5>{{article.title}}</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>{{article.number}}</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="article.val">
                        </div>
                    </div>

                    <div class="row row-margin-top-md">
                        <div class="col-md-12">
                            <h5 class="bold">Отчет о прибылях и убытках</h5>
                        </div>
                    </div>
                    <!--item-->
                    <div class="row" style="margin-top:6px" ng-repeat="article in newMetering.gainsValues">
                        <div class="col-md-8">
                            <h5>{{article.title}}</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>{{article.number}}</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="article.val">
                        </div>
                    </div>
                </div>

                <!--новый баланс-->
                <div ng-show="newMetering.oldBalance === false">
                    <div class="row row-margin-top">
                        <div class="col-md-12">
                            <h5 class="bold">Бухгалтерский баланс</h5>
                        </div>
                    </div>
                    <!--item-->
                    <div class="row" style="margin-top:6px" ng-repeat="article in newMetering.balanceValues">
                        <div class="col-md-8">
                            <h5>{{article.title}}</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>{{article.number}}</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="article.val">
                        </div>
                    </div>

                    <div class="row row-margin-top-md">
                        <div class="col-md-12">
                            <h5 class="bold">Отчет о прибылях и убытках</h5>
                        </div>
                    </div>
                    <!--item-->
                    <div class="row" style="margin-top:6px" ng-repeat="article in newMetering.gainsValues">
                        <div class="col-md-8">
                            <h5>{{article.title}}</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>{{article.number}}</h5>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="article.val">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelAddMetering()">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addMetering()">Добавить</button>
            </div>
        </div>
    </div>
</div>