<div class="jumbotron">
    <h1>Enterprise Analitics</h1>
    <p class="lead">Универсальный инстумент анализа финансовой деятельности предприятий</p>
    <p><a class="btn btn-lg btn-success" ui-sref="companies" role="button">Начать работу!</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Актуальная информация</h2>
        <p class="ea-p">Добавляйте данные о фирмах предпринимательского сектора национального хозяйства и просматривайте уже имеющуюся информацию</p>
        <p><a class="btn btn-primary" href="#" role="button">Читать далее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Удобная аналитика</h2>
        <p class="ea-p">С помощью различных инстументов изучите предприятие и узнайте факторы, влияющие на его финансовое состояние</p>
        <p><a class="btn btn-primary" href="#" role="button">Читать далее &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Достоверная статистика</h2>
        <p class="ea-p">С помощью наглядных графиков оцените состояние фирмы и повысьте ваши шансы в долгосрочной перспективе</p>
        <p><a class="btn btn-primary" href="#" role="button">Читать далее &raquo;</a></p>
    </div>
</div>