<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <!--подключаем таблицу стилей-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/justified-nav.css">
        <!--подключаем jQuery (необходим для bootstrap)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--подключаем bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <!--momentjs -->
        <script src="moment.js"></script>
        <!--подключаем Angular-->
        <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
        <!--главный файл angular-приложения-->
        <script src="main.js"></script>
        <!--файл контроллеров-->
        <script src="controllers.js"></script>
        <script src="moment_module.js"></script>
        <script src="chart_module.js"></script>
        <!--для визуализации-->
        <script src="Chart.js"></script>
        <script src="angular-chart.js"></script>
        <link rel="stylesheet" href="/stylesheets/angular-chart.css">
    </head>

    <body ng-app="routerApp">
        <div class="container">
            <!-- The justified navigation menu is meant for single line per list item.
                 Multiple lines will require custom code not provided by Bootstrap. -->
            <div class="masthead">
                <nav>
                    <ul class="nav nav-justified">
                        <li ng-class="{'active':activePage==='home'}"><a ui-sref="home">Домашняя страница</a></li>
                        <li ng-class="{'active':activePage==='companies'}"><a ui-sref="companies">Предприятия</a></li>
                        <li ng-class="{'active':activePage==='analitics'}"><a ui-sref="analitics">Аналитика</a></li>
                        <li><a href="#">Статистика</a></li>
                        <li><a href="#">О проекте</a></li>
                    </ul>
                </nav>
            </div>
            <h2>{{test}}</h2>
            <div class="container content">
                <div ui-view=""></div>
            </div>

            <!-- Site footer -->
            <footer class="footer">
                <p>&copy; 2016 Кубанский Государственный Университет, кафедра Прикладной Математики</p>
            </footer>

        </div> <!-- /container -->
    </body>
</html>
