.content {
    position: relative;
    left: -15px;
}

.ea-p {
    font-size: 16px;
}

.row-margin-top {
    margin-top:18px
}

.row-margin-top-md {
    margin-top:30px
}

.row-margin-top-lg {
    margin-top:60px
}


.bold {
    font-weight: bold;
}

.text-blue {
    color: #1d4eff;
}

.text-gray {
    color: #6c6c6c;
}

.ea-container {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
}

.background-white {
    background-color: #FFF;
}

.ea-left-nav {

}

.ea-left-nav > li > a {
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
}